/*----- Global -----*/
:root {
  --blue: #211d44;
  --dark: #1f1f1f;
  --darker: #161616;
  --light: #5a5a5a;
  --lighter: #808080;
  --lighter2: #3dd6d0;
  --lighter3: #f4d06f;
  --lighter4: #817cc9;
  --lighter5: #c8c4ff;
  --highlight: #5a38d9;
  --highlight2: #e2e0ff;
  --neutral: rgb(79, 111, 255);
  --green: #00ff30;
  --red: #ff0900;
  --yellow: #eed202;
  --clr: #14161e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.app-screen {
  display: flex;
  flex-direction: column;
  margin-left: 50px;
  margin-top: 10px;
  background-color: var(--lighter2);
  width: 100%;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  /* border: 1px solid #fff; */
}

/*----- Dashboard -----*/
.accounts {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
  padding: 20px;
}

.account {
  display: flex;
  flex-direction: row;
  height: 80px;
  width: 80px;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  border: 0.15em solid var(--clr);
  margin-right: 10px;
}

.account .icon {
  font-size: 2em;
  margin-right: 5px;
}

.account .text {
  font-size: 1.8em;
}

.post {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 400px;
  padding: 10px;
  border: 2px solid var(--lighter5);
  background-color: var(--dark);
  border-radius: 20px;
  margin: 10px;
  margin-top: 20px;
  box-shadow: 0px 0px 5px 5px var(--darker);
  border-right: 5px solid;
}

.post p {
  font-size: 14px;
  font-weight: 600;
  padding: 10px;
  width: 300px;
  color: var(--lighter5);
}

.post .icon-button {
  margin-top: 8px;
  color: black;
}

.accounts-view {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 2px;
  width: 100%;
  min-height: 70%;
  border: 2px solid var(--darker);
  border-radius: 20px;
  align-items: center;
  overflow-y: scroll;
}

.selected-account {
  display: flex;
  flex-direction: row;
  width: 95%;
  height: 45px;
  padding-block: 10px;
  border-bottom: 1px solid var(--lighter5);
}

.selected-account i {
  padding-inline: 5px;
  font-size: 12px;
  margin-top: 20px;
}

.posts-container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  width: 450px;
  overflow-y: scroll;
}

/*----- New Post -----*/
.post-info {
  display: flex;
  flex-direction: row;
  padding-bottom: 20px;
  justify-content: space-around;
  width: 100%;
}

.post-info > div {
  background-color: var(--lighter2);
  border-radius: 10px;
  margin-right: 10px;
  padding: 10px;
}

.post-info-col1,
.post-info-col2 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.post-info-col1 {
  width: 30%;
}

.post-info-col2 {
  width: 70%;
}

.post-info-col2 .text-area {
  height: 200px;
  width: 100%;
  font-size: 14px;
  overflow-y: scroll;
}

.account-selector {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.account-option-at {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-between;
}

.account-option-at div {
  display: flex;
  flex-direction: row;
  margin-left: 80px;
}

.account-option-at h2 {
  font-size: 16px;
  font-weight: 600;
  color: var(--darker);
}

.account-option-at h3 {
  font-size: 16px;
  font-weight: 600;
  color: var(--darker);
}

.date-selector {
  display: flex;
  flex-direction: row;
  padding: 10px;
}

.date-selector input {
  width: 200px;
}

.post-options {
  display: flex;
  flex-direction: row;
  padding: 10px;
  justify-content: space-around;
  width: 100%;
}

/*----- Inputs -----*/
.text-area {
  height: 25vh;
  width: 25vw;
  color: var(--lighter5);
  resize: none;
  padding: 20px;
  background-color: var(--dark);
  border: 1px solid var(--lighter4);
  border-radius: 6px;
}

.modal-content input {
  border-radius: 15px;
  padding: 5px;
  color: var(--clr);
}

.modal-content input:focus {
  outline: 1px solid var(--light);
  border: 1px solid var(--lighter5);
}

.input-field {
  display: flex;
  flex-direction: row;
  width: 330px;
  justify-content: space-between;
  padding-left: 15px;
}

.input-field label {
  color: #fff;
  font-size: 16px;
  align-self: end;
  text-align: justify;
  margin-left: 12px;
  padding-right: 5px;
}

.input-field input {
  color: #fff;
  background: transparent;
  font-size: 16px;
  width: 200px;
  padding: 3px;
  border: 0;
  border-bottom: 2px solid;
  outline: none;
}

.checkbox {
  padding: 5px;
}

input[type="submit"],
#change-theme-submit {
  /* background-color: var(--light); */
  border-radius: 20px;
  border: none;
  padding: 5px;
  /* color: var(--lighter5); */
  margin-top: 20px;
  transition: 1s all;
}

.theme-option {
  display: flex;
  justify-content: space-between;
  width: 190px;
  margin-bottom: 10px;
  color: var(--clr);
}

input[type="file"] {
  display: none;
}

.file-input-label-item {
  border: none;
  border-radius: 20px;
  color: #fff;
  background: var(--clr);
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  font-style: normal;
  transition: 0.5s;
}

.file-input-label-item:hover {
  background: #fff;
  color: var(--clr);
  transition: 0.5s;
}

.file-input-label {
  width: fit-content;
  padding: 5px;
  margin: 0 auto;
}

/*----- Tables -----*/
table {
  font-family: arial, sans-serif;
  border-collapse: none;
  width: 100%;
  background-color: var(--light);
}

td,
th {
  text-align: left;
  padding: 5px;
  color: #fff;
  border: 1px solid var(--darker);
}

tr:nth-child(even) {
  background-color: var(--clr);
}

/*----- Drop up  -----*/
.dropbtn {
  border: none;
}

.dropbtn ion-icon {
  font-size: 1.2em;
}

.dropup {
  display: none;
  position: absolute;
  background-color: #fff;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 99;
  margin-left: -110px;
  border-radius: 10px;
}
.dropup div {
  color: var(--clr);
  padding: 3px;
  text-decoration: none;
  display: block;
  border-radius: 10px;
}

.dropup div .icon-button:hover {
  background-color: var(--clr);
}

.dropup div .icon-button:hover p {
  color: #fff;
}

.dropbtn:hover div {
  display: block;
}

.dropup:hover .dropbtn {
  background-color: var(--alt-2);
}

/*----- Sidebar -----*/
.sidebar {
  position: absolute;
  width: 80px;
  height: 100vh;
  background: #fff;
  transition: 0.5s;
  padding-left: 10px;
  overflow: hidden;
}

.sidebar.active {
  width: 300px;
}

.sidebar ul {
  position: relative;
  height: 100vh;
}

.sidebar ul li {
  position: relative;
  list-style: none;
}

.sidebar ul li.active {
  background: var(--clr);
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.sidebar ul li.active::before {
  content: "";
  position: absolute;
  top: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 5px 5px 0 5px var(--clr);
  background: transparent;
}

.sidebar ul li.active::after {
  content: "";
  position: absolute;
  bottom: -20px;
  right: 0;
  width: 20px;
  height: 20px;
  border-top-right-radius: 20px;
  box-shadow: 5px -5px 0 5px var(--clr);
  background: transparent;
}

.sidebar ul li .logo {
  margin-bottom: 20px;
}

.sidebar ul li .logo .icon {
  margin-bottom: 20px;
  font-size: 2em;
  color: var(--clr);
}

.sidebar ul li .logo .text {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--clr);
}

.sidebar ul li a {
  position: relative;
  display: flex;
  white-space: nowrap;
  text-decoration: none;
}

.sidebar ul li a .icon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 60px;
  height: 60px;
  font-size: 1.5em;
  color: var(--clr);
  transition: 0.5s;
}

.sidebar ul li a .text {
  position: relative;
  height: 60px;
  display: flex;
  align-items: center;
  font-size: 1em;
  color: var(--clr);
  padding-left: 15px;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  transition: 0.5s;
}

.sidebar ul li.active a .icon {
  color: #fff;
}

.sidebar ul li.active a .text {
  color: var(--bg);
}

.sidebar ul li:hover a .icon,
.sidebar ul li:hover a .text {
  color: var(--bg);
}

.sidebar ul li.active a .icon::before {
  content: "";
  position: absolute;
  inset: 5px;
  width: 50px;
  background: var(--bg);
  border-radius: 50%;
  transition: 0.5s;
}

.sidebar ul li:hover.active a .icon::before {
  background: #fff;
}

.bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.imgBx {
  position: relative;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
}

.imgBx img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.toggle {
  color: #fff;
  cursor: pointer;
  position: absolute;
  left: 78px;
  top: 50vh;
  z-index: 1000;
  transition: 0.5s;
}

.toggle.active {
  left: 300px;
  transition: 0.5s;
}

.toggle .icon {
  font-size: 2em;
}

.toggle .icon .caret-backward {
  display: none;
}

/*----- Main/Topbar -----*/
.body-section {
  min-height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
  height: fit-content;
}

body .body-section {
  background-color: var(--clr);
}

.main-container {
  width: 100%;
  height: 60%;
  padding-inline: 2.5%;
}

.main {
  position: absolute;
  width: 82%;
  left: 80px;
  top: 0px;
  transition: 0.5s;
  padding-top: 10px;
}

.main.active {
  left: 300px;
  width: 60%;
}

.search {
  position: absolute;
  width: 200px;
  right: 130px;
  margin-top: 5px;
}

.accordian__button {
  display: block;
  width: 50px;
  height: 50px;
  padding: 10px;
  border: none;
  outline: none;
  cursor: pointer;
  background: transparent;
  color: var(--lighter5);
  font-size: 22px;
}

.accordian__content {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  margin-left: 15px;
  max-height: 0;
  transition: 0.5s;
}

.accordian__content.active {
  max-height: fit-content;
  overflow: visible;
  transition: 0.5s;
}

.overview {
  left: 250px;
  margin: auto;
  text-align: center;
}

.overview h1 {
  color: #fff;
  font-size: 36px;
  font-weight: 600;
}

.overview p {
  color: #fff;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  padding-top: 1%;
}

.overview-container {
  display: flex;
  flex-direction: column;
  padding: 0px 10px;
  color: var(--darker);
}

.overview-box {
  display: flex;
  flex-direction: row;
  color: var(--lighter5);
  border-bottom: 2px solid;
  align-content: center;
  width: 400px;
  justify-content: space-between;
  margin: 0 auto;
}

@media screen and (max-width: 1700px) {
  .overview-box {
    width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .overview-box {
    width: 200px;
  }
}

@media screen and (max-width: 920px) {
  .overview-box {
    width: fit-content;
  }
}

.overview-box > div > .checkbox {
  margin-top: 15px;
  font-weight: 600;
}

.overview-box h3 {
  color: var(--darker);
  font-size: 16px;
  padding: 3px;
  cursor: pointer;
}

.overview-box h2 {
  color: var(--lighter5);
  font-size: 16px;
  font-weight: 600;
  padding: 3px;
  align-self: flex-end;
}

.suggestion {
  width: 100%;
  cursor: pointer;
  padding: 5px;
  justify-content: center;
}

.suggestion:hover {
  background: rgb(22, 25, 233);
  color: rgb(255, 255, 255);
}

/*----- Dropdown -----*/
.drop-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}

.drop-container h2 {
  background-color: #2e2e2e;
  color: #fff;
  padding: 5px;
  padding-inline: 10px;
  font-size: 16px;
  border: 0px;
  border-radius: 20px;
}

.drop-btn {
  background-color: var(--clr);
  color: #fff;
  padding-inline: 10px;
  font-size: 16px;
  border-radius: 20px;
  cursor: pointer;
  width: 250px;
  margin: 0;
  transition: 0.5s;
}

.drop-btn:hover,
.drop-btn:focus {
  margin-left: unset;
  background-color: #fff;
  color: var(--clr);
  transition: 0.5s;
}

.dropdown {
  position: relative;
  display: inline-block;
  width: fit-content;
}

.dropdown-content {
  display: none;
  position: absolute;
  align-items: center;
  justify-content: center;
  width: 100%;
  border: none;
  z-index: 1;
  border-radius: 20px;
}

.dropdown-item {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #fff;
  color: var(--clr);
  padding: 3px 20px;
  text-decoration: none;
  cursor: pointer;
  transition: 0.5s;
}

.dropdown-content p:last-child {
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.dropdown-content p:hover {
  background-color: var(--clr);
  color: #fff;
  transition: 0.5s;
}

/*----- Prompt -----*/
.bg-prompt {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 9999;
}

.prompt {
  position: relative;
  padding: 10px;
  height: fit-content;
  width: fit-content;
  justify-content: space-between;
  border-radius: 30px;
  color: #fff;
  background: var(--lighter2);
  padding: 30px;
}

.prompt img {
  max-height: 70vh;
  max-width: 80vw;
}

.prompt-text {
  color: #fff;
  font-size: 16px;
  text-align: center;
  background-color: var(--darker);
  border-radius: 20px;
  padding: 5px;
  margin-top: -40px;
  margin-bottom: 20px;
}

.prompt-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.prompt-content input {
  border-radius: 20px;
  background-color: var(--dark);
  padding: 3px;
  color: var(--lighter5);
  margin-left: 5px;
  margin-right: 5px;
}

.prompt-content input:focus {
  border: 1px solid var(--lighter4);
}

.prompt-content p {
  margin-bottom: 20px;
}

.prompt-content .confirm {
  margin-right: 10px;
}

.prompt-form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.confirm,
.cancel,
.done,
.okay {
  font-size: 16px;
  border-radius: 20px;
  color: #fff;
  background-color: var(--clr);
  cursor: pointer;
}

.confirm:hover,
.okay:hover {
  background: unset;
  background-color: var(--green);
  color: var(--clr);
}

.cancel:hover,
.done:hover {
  background: unset;
  background-color: var(--red);
  color: var(--clr);
}

/*----- Multi Add -----*/
.multi-add {
  display: flex;
  flex-direction: row;
}
.multi-add input {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  padding: 2px;
}
.multi-add button {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  width: 20px;
  padding: 2px;
  font-size: 16px;
  font-weight: 600;
  color: #000;
  background: var(--green);
}

/*----- Modal Popup -----*/
.bg-modal {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 9999;
}

.modal-content {
  width: fit-content;
  height: fit-content;
  background-color: var(--lighter2);
  border-radius: 20px;
  text-align: center;
  padding: 5%;
  padding-top: 3%;
  position: absolute;
  z-index: 999;
}

.modal-content p {
  width: 100%;
  height: auto;
  align-self: center;
}

.modal-content img {
  width: 150px;
  height: 150px;
  align-self: center;
  padding: 10%;
}

.close {
  position: absolute;
  top: 0;
  right: 14px;
  font-size: 42px;
  transform: rotate(45deg);
  cursor: pointer;
  transition: all 1s;
}

.close:hover {
  rotate: 180deg;
}

/*----- Animations -----*/
@keyframes zoomin {
  0% {
    transform: scale(0, 0);
    opacity: 0;
  }

  100% {
    transform: scale(1, 1);
    opacity: 1;
  }
}

@keyframes zoomout {
  0% {
    transform: scale(1, 1);
    opacity: 1;
  }

  100% {
    transform: scale(0, 0);
    opacity: 0;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

/*----- Popup -----*/
.popup-container {
  padding-block: 10px;
  position: absolute;
  top: -12px;
}

.popup {
  background-color: var(--lighter2);
  display: flex;
  position: relative;
  justify-content: center;
  padding-block: 2px;
  height: 24px;
  width: 100vw;
  z-index: 99999;
}

.popup p {
  color: var(--darker);
  text-align: center;
  font-size: 14px;
}

/*----- Scroll Bar -----*/
/* width */
::-webkit-scrollbar {
  width: 10px;
  background-color: var(--dark);
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--highlight);
  border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #0029ff;
}

/* login page */
.login-section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  width: 100%;
  background: url("img/dots.png") no-repeat;
  background-position: center;
  background-size: cover;
}
.login-form-box {
  position: relative;
  width: 400px;
  height: 450px;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  backdrop-filter: blur(15px);
  display: flex;
  justify-content: center;
  align-items: center;
}
h2 {
  font-size: 2em;
  color: #fff;
  text-align: center;
}
.inputbox {
  position: relative;
  margin: 30px 0;
  width: 310px;
  border-bottom: 2px solid #fff;
}
.inputbox label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  color: #fff;
  font-size: 1em;
  pointer-events: none;
  transition: 0.5s;
}
input:focus ~ label,
input:not(:placeholder-shown) ~ label {
  top: -5px;
}
.inputbox input {
  width: 100%;
  height: 50px;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  padding: 0 35px 0 5px;
  color: #fff;
}
.inputbox ion-icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2em;
  top: 20px;
}
.login-options {
  margin: -15px 0 15px;
  font-size: 0.9em;
  color: #fff;
  display: flex;
  justify-content: center;
}
.checkbox-wrapper-65 *,
.checkbox-wrapper-65 ::after,
.checkbox-wrapper-65 ::before {
  box-sizing: border-box;
}
.checkbox-wrapper-65 .cbx {
  position: relative;
  display: block;
  float: left;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  background-color: #606062;
  background-image: linear-gradient(#474749, #606062);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.15),
    inset 0 -1px 1px rgba(0, 0, 0, 0.15);
  transition: all 0.15s ease;
}
.checkbox-wrapper-65 .cbx svg {
  position: absolute;
  top: 3px;
  left: 3px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #fff;
  stroke-width: 2;
  stroke-dasharray: 17;
  stroke-dashoffset: 17;
  transform: translate3d(0, 0, 0);
}
.checkbox-wrapper-65 .cbx + span {
  float: left;
  margin-left: 6px;
  color: #fff;
}
.checkbox-wrapper-65 {
  user-select: none;
}
.checkbox-wrapper-65 label {
  display: inline-block;
  cursor: pointer;
}
.checkbox-wrapper-65 input[type="checkbox"] {
  display: none;
  visibility: hidden;
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx {
  background-color: #606062;
  background-image: linear-gradient(#255cd2, #1d52c1);
}
.checkbox-wrapper-65 input[type="checkbox"]:checked + .cbx svg {
  stroke-dashoffset: 0;
  transition: all 0.15s ease;
}
.login-options input {
  cursor: pointer;
}
.login-options label input {
  margin-right: 3px;
}
.login-options label a {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
.login-options label a:hover {
  text-decoration: underline;
}
.login-button {
  width: 100%;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 1em;
  font-weight: 600;
  transition: 0.5s;
}
.login-button:hover {
  background: #000;
  color: #fff;
  transition: 0.5s;
}
.login-register {
  font-size: 0.9em;
  color: #fff;
  text-align: center;
  margin: 25px 0 10px;
}
.login-register p {
  color: #fff;
}
.login-register p a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.login-register p a:hover {
  text-decoration: underline;
}
.minimal-section {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100%;
  background: var(--darker);
  align-items: center;
  text-align: center;
  background-image: url("img/dots.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
/* minimal */
.minimal {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.minimal h3 {
  color: #fff;
  font-size: 32px;
  padding: 10px;
  background-color: var(--dark);
  border-radius: 6px;
  position: absolute;
  width: 85%;
  left: 5%;
  margin-top: -30px;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: fit-content;
  width: fit-content;
  background: transparent;
  backdrop-filter: blur(15px);
  border-radius: 20px;
  border: 1px solid #fff;
  padding: 50px;
}

.details p {
  color: #fff;
  font-size: 1.5em;
  font-weight: 600;
  margin-bottom: 30px;
}

.details a {
  text-decoration: none;
  color: #fff;
}

.details a:hover {
  text-decoration: underline;
}

/*----- Generic Buttons -----*/
.button-badge {
  background-color: #fa3e3e;
  border-radius: 2px;
  color: white;
  padding: 1px 3px;
  font-size: 10px;
  position: absolute;
  top: 0;
  right: 0;
}

.button-container {
  display: inline-block;
  position: relative;
}

button {
  height: 30px;
  width: 120px;
  cursor: pointer;
  background-color: #fff;
  border-radius: 20px;
  border: none;
  color: var(--clr);
  display: inline-block;
  transition: all 0.5s;
}

button:hover {
  background-color: var(--clr);
  color: #fff;
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  transform: translateY(-1px);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.button-box {
  display: flex;
  padding: 5px;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.post-legend-box {
  width: 15px;
  height: 15px;
  border-radius: 5px;
}

.post-legend ul {
  display: flex;
  flex-direction: row;
  margin-top: 20px;
}

.post-legend ul li {
  display: inline-block;
  list-style-type: none;
  margin-right: 100px;
  display: flex;
  flex-direction: row;
}

.post-legend ul li p {
  margin-right: 10px;
  font-size: 12px;
}

.pending-legend-box {
  background-color: var(--neutral);
}

.posted-legend-box {
  background-color: var(--green);
}

.error-legend-box {
  background-color: var(--red);
}

.info-heading {
  background-color: var(--darker);
  border-radius: 20px;
  padding: 20px;
  margin-top: -80px;
  margin-bottom: 50px;
  color: #fff;
  font-size: 28px;
  align-self: center;
}

.settings-heading {
  background-color: var(--darker);
  border-radius: 20px;
  padding: 20px;
  margin-top: -40px;
  margin-bottom: 20px;
  color: #fff;
  font-size: 20px;
  align-self: center;
}

label,
p {
  color: var(--clr);
}

/* Gallery */

.gallery {
  /* width: 500px; */
  /* height: 500px; */
  width: 650px;
}

.grid-sizer,
.grid-item {
  width: 200px;
}

.grid-item {
  float: left;
  display: flex;
  justify-content: center;
}

.grid-item img {
  border-radius: 20px;
}

.gallery .thumbnail {
  cursor: pointer;
  padding: 2px;
  margin: 8px;
  transition: 0.1s;
}

.gallery .thumbnail:hover {
  box-shadow: -3px -3px 0 var(--darker), 3px 3px 0 var(--darker),
    3px -3px 0 var(--darker), -3px 3px 0 var(--darker);
  transition: 0.3s;
}

/*----- Tags -----*/
.tag-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  display: inline-block;
  position: relative;
  left: -45px;
}

/*----- Fix For Mobile View -----*/
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}

@media (max-width: 750px) {
  .bars {
    display: block;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    padding: 10px;
    text-align: right;
  }

  .row {
    display: flex;
    flex-direction: column;
  }

  .modal-content {
    max-height: 75%;
    padding-top: 6%;
  }

  .modal-content img {
    padding: 10%;
    padding-top: 60%;
  }

  .main,
  .main.active {
    left: 50px;
  }

  .main.active {
    width: calc(100% - 50px);
  }

  .main {
    width: calc(100% - 50px);
  }

  .post-info {
    display: block;
  }

  .post-info-col1,
  .post-info-col2 {
    width: calc(100% - 40px);
  }

  .post-info-col1 {
    margin-bottom: 20px;
  }

  .modal-content {
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .text-area {
    width: calc(100% - 40px);
    min-height: 50px;
    height: fit-content;
  }

  .prompt {
    width: 80%;
  }

  .account-selector {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 20px;
  }
  .overview-box,
  .overview-container {
    width: 100%;
  }

  #infoHeading {
    margin-top: -50px;
  }

  .date-selector {
    display: block;
  }

  .date-selector input {
    margin-top: 10px;
  }

  .posts-container {
    width: calc(80vw - 80px);
  }

  .post {
    max-width: 45vw;
  }

  .post-legend ul {
    display: flex;
    flex-direction: column;
  }

  .post-legend ul li {
    margin-top: 10px;
  }

  .app-screen {
    margin: 5%;
    margin-top: 50px;
  }
}

/* Do not add anything under here */
